.hero {
  padding: 30px 40px;
}

.main .btn {
  height: 46px;
  padding: 0 50px;
  font-size: 1.4rem;
}

.main .section__one .section__one__title {
  font-size: 2.8rem;
  max-width: 650px;
}

.main .section__one .section__one__copy {
  font-size: 1.5rem;
  max-width: 530px;
}

.main .section__two .section__two__fig {
  max-width: 660px;
}

.main .section__three {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.main .section__three .section__three__communites .section__three__copy {
  font-size: 1.5rem;
}

.main .section__four .section__four__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "col-1 col-2";
  column-gap: 40px;
  align-items: center;
  padding: 20px 80px;
}

.main .section__four .section__four__content .section__four__img {
  width: 100%;
  margin-bottom: 80px;
  grid-area: col-2;
}

.main .section__four .section__four__content .section__four__text {
  grid-area: col-1;
  text-align: left;
}

.main .section__four .section__four__content .section__four__text .section__four__title {
  font-size: 2.2rem;
}

.main .section__four .section__four__content .section__four__text .section__four__copy {
  font-size: 1.5rem;
}

.main .section__four .section__four__content--mod .section__four__img {
  grid-area: col-1;
}

.main .section__four .section__four__content--mod .section__four__text {
  grid-area: col-2;
}

.main .section__five .section__five__title {
  font-size: 2.5rem;
}

.footer .section__footer {
  grid-template-columns: repeat(2, minmax(100px, 300px));
  justify-content: space-around;
  grid-template-areas: "col-one col-two";
}

.footer .section__footer .footer__content__one {
  grid-area: col-two;
}

.footer .section__footer .footer__content__one .footer__copy {
  font-size: 1.5rem;
}

.footer .section__footer .footer__content_two {
  grid-area: col-one;
}

.footer .section__footer .footer__content_two .footer__copy {
  font-size: 1.5rem;
}

.footer .section__footer .footer__content_two .content__phone .content__text {
  font-size: 1.5rem;
}
