.main {

  .section__one {

    .section__one__title {
      font-size: 4.2rem;
    }

  }

  .section__two {

    .section__two__fig {
      max-width: 900px;

    }

  }

  .section__three {

    .section__three__communites {

      .section__three__title {
        font-size: 6.4rem;

      }

    }
  }

}