// variables primary
$Pink: rgb(255, 82, 191);
$Light-Pink: rgb(255, 143, 216);
$Light-Red: rgb(255, 66, 66);

// variables neutral
$Very-Dark-Cyan: rgb(0, 37, 46);
$Very-Pale-Blue: rgb(240, 247, 255);

// fonts
$font-Headings:'Poppins', sans-serif;
$font-Body: 'Open Sans', sans-serif;